@keyframes changeColor {
    0% {
      color: orange;
    }
    50% {
      color: blue;
    }
    100% {
      color:orangered;
    }
  }
  
  #instruction-list {
    animation-name: changeColor;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  h3,h2{
    animation-name: changeColor;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
  }

  .Buttons button {
    background-color: orangered;
  }
  
 button:hover {
    background-color: orange;
    transform: scale(1.1);
  }
  